.myHeadings {
	text-align: center;
}

#color_black {
	color: black;
}

#color_blue {
    color: #0000FF;
}

#color_green {
    color: green;
}

#topMargin {
	margin-top: 1cm;
}

#leftHeading {
	text-align: left;
}

#noTextShadow {
	text-shadow: none;
}

.blackText {
	color: black;
}

.linkText {
	color: blue;
	text-decoration: underline;
}

.smallText {
	font-size: 14px;
}

#sameLine {
	display: inline;
}